.header__lang-link {
    text-decoration-line: underline;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    width: 29px;
    height:28px;
    margin: 0 18px 0 0;
}

.header__lang-link:nth-last-child(1){
    text-decoration-line: none;
    margin: 0;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 834fe05c38e76a42a2f5ba2e2d0a5742d6bde58c
>>>>>>> c1409a3d6b4e3d422ec3b64da5c5fdf55e7e21b5
}

.header__lang-link:hover {
    opacity: .5;
    transition: .3s ease;
}

@media screen and (max-width: 767px){
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 1f8700a3d348189116c9919771b3ffe6a9215127
>>>>>>> 834fe05c38e76a42a2f5ba2e2d0a5742d6bde58c
>>>>>>> c1409a3d6b4e3d422ec3b64da5c5fdf55e7e21b5
}