.cover__link {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 3;
    text-align: center;
    max-width: 1184px;
    min-height: 740px;
}

.cover__link_none {
    text-decoration: none;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        max-width: 320px;
        min-height: 200px;
    }
}