.photo-grid__item {
<<<<<<< HEAD
    object-fit: cover;
}

@media screen and (min-width: 1280px) {
    .photo-grid__item {
        max-width: 284px;
        height: auto;
    }
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
        max-width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__item {
        max-width: 352px;
=======
  object-fit: cover;
  }

  @media screen and (min-width: 1280px) {
    .photo-grid__item {
      max-width: 284px;
      height: auto;
    }
  }

  @media screen and (max-width: 1279px) {
    .photo-grid__item {
      max-width: 300px;
      height: auto;
    }
}
  @media screen and (max-width: 1023px) {
    .photo-grid__item {
      max-width: 352px;
      height: auto;
>>>>>>> 268c9da735902c0d9e59549cf6f19e87907c48d1
    }
}

@media screen and (max-width: 767px) {
<<<<<<< HEAD
    .photo-grid__item {
        max-width: 100%;
    }
}
=======
  .photo-grid__item {
    max-width: 100%;
    height: auto;
  }
}

>>>>>>> 268c9da735902c0d9e59549cf6f19e87907c48d1
