@import url(../header/__logo/header__logo.css);
@import url(../header/__lang-link/header__lang-links.css);
@import url(../header/__lang-link/header__lang-link.css);

.header {
    text-align: right;
    width: 1184px;
    height: 52px;
    margin: 0 48px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px){
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px){
    .header {
        max-width: 288px;
        margin:0;
        padding:0;
    }
}
