.footer__links {
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        min-height: 248px;
        width: 186px;
        flex-direction: column;
        margin: 0;
    }
}