@font-face {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 83b20881e3ce8bc3532aa6017c3bcb2c0256fa42
>>>>>>> da0f070d2686bfc2055815f84b8da0804e139a04
    font-family: "Inter";
    src: url("../fonts/Inter-Black.woff") format("woff");
    src: url("../fonts/Inter-Black.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
<<<<<<< HEAD
}

=======
<<<<<<< HEAD
}

=======
    } 
>>>>>>> 83b20881e3ce8bc3532aa6017c3bcb2c0256fa42
>>>>>>> da0f070d2686bfc2055815f84b8da0804e139a04
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff") format("woff");
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
<<<<<<< HEAD
}

=======
<<<<<<< HEAD
}

=======
    }
>>>>>>> 83b20881e3ce8bc3532aa6017c3bcb2c0256fa42
>>>>>>> da0f070d2686bfc2055815f84b8da0804e139a04
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff") format("woff");
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
}
=======
    font-family: "Inter"; 
    src: url("../fonts/Inter-Black.woff") format("woff");
    src: url("../fonts/Inter-Black.woff2") format("woff2");
    font-style: normal; 
    font-weight: 900; 
    } 
@font-face {
    font-family: "Inter"; 
    src: url("../fonts/Inter-Bold.woff") format("woff");
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-style: normal; 
    font-weight: 700; 
    }
@font-face {
    font-family: "Inter"; 
    src: url("../fonts/Inter-Regular.woff") format("woff");
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-style: normal; 
    font-weight: 400; 
}
>>>>>>> c1409a3d6b4e3d422ec3b64da5c5fdf55e7e21b5
>>>>>>> 83b20881e3ce8bc3532aa6017c3bcb2c0256fa42
>>>>>>> da0f070d2686bfc2055815f84b8da0804e139a04
