.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: white;
<<<<<<< HEAD
    max-width: 690px;
}

@media screen and (min-width: 1280px) {
    .intro__text {
        margin: 40px 0 33px;
    }
}

@media screen and (max-width: 1279px) {
    .intro__text {
        width: 100%;
        margin: 40px 0 33px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__text {
        width: 720px;
        margin: 40px 0 33px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        width: 288px;
        margin: 40px 0 34px;
    }
=======
    margin: 40px 0 33px;
    max-width: 690px;
}

@media screen and (max-width: 1279px){
    .intro__text {
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px){
    .intro__text {
        max-width: 720px;
        margin: 34px 0 64px;
    }
}

@media screen and (max-width: 767px){
    .intro__text {
        max-width: 288px;
        margin: 40px 0 33px;
    }
>>>>>>> 268c9da735902c0d9e59549cf6f19e87907c48d1
}