.intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: white;
    margin: 40px 0 33px;
    max-width: 690px;
}

@media screen and (max-width: 1279px){
    .intro__text {
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px){
    .intro__text {
        max-width: 720px;
        margin: 34px 0 64px;
    }
}

@media screen and (max-width: 767px){
    .intro__text {
        max-width: 288px;
        margin: 40px 0 33px;
    }
}