@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__overlay/cover__overlay.css);
@import url(../cover/__background/cover__background.css);
@import url(../cover/__link/cover__link.css);

.cover {
    max-width: 1184px;
    height: 740px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    text-align: center;
}

@media screen and (min-width: 1279px) {
  .cover {margin:92px 48px 0 48px;}
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    height: 640px;
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    height: 480px;
    margin:90px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
    height: 200px;
    margin:66px 0 0;
  }
}