.cover__background {
    background: url(../../../images/cover-trains.jpg) center/cover no-repeat, linear-gradient(45deg, #2a2c2f, #9e9b9b);
    position: relative;
    z-index: 1;
    background-blend-mode: overlay;
    max-width: 1184px;
    height: 740px;
}

.cover__background:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.8;
    z-index: -1;
    color: white;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        max-width: 768px;
        height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        max-width: 320px;
        height: 200px;
    }
}