.footer {
    max-width: 1184px;
    min-height: 18px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .footer {
        margin: 92px 48px 24px;
        width: 1184px;
    }
}

@media screen and (max-width: 1279px) {
    .footer {
        width: 928px;
        min-height: 18px;
        margin: 92px 48px 24px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 720px;
        min-height: 18px;
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: 186px;
        min-height: 310px;
        margin: 64px 118px 0 16px;
        flex-direction: column;
    }
}